if TARGET_LCKFB_TSPI_RK3566

config SYS_BOARD
	default "tspi_rk3566"

config SYS_VENDOR
	default "lckfb"

config SYS_CONFIG_NAME
	default "tspi_rk3566"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
